@font-face {
    font-family:'Baloo Bhai 2';
    src: url('fonts/BalooBhai2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('fonts/YanoneKaffeesatz-VariableFont_wght.ttf');
}

:root {
    --prim-color: rgb(64, 124, 209);
    --nav-prim-color: rgb(25, 102, 211);
    --prim-font:'Baloo Bhai 2';
}

/* ---------------------------------------index.html------------------------------------------------------- */

/*--------------------------------------------------------------------------------------*/
                                         /* NAVBAR -starts*/
/*--------------------------------------------------------------------------------------*/

header {
    position: sticky;
    top: 0px;
    z-index: 1;

    background-color: var(--nav-prim-color);
    font-family: var(--prim-font);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    height: 80px;
}

.logo {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}

.logo div {
    display: inline-block;
    position: relative;
    bottom: 20px;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo :hover {
    cursor: pointer;
}

.navbar {
    display: inline-block;

    font-weight: bolder;

    margin-left: 200px;

    position: relative;
    bottom: 15px;
}


.navbar ul li {
    display: inline-block;
    margin: 0px 40px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.userarea {
    position: relative;
    bottom: 8px;

    float: right;
    margin-top: 30px;
    margin-right: 40px;

}

.userarea button {
    font-family: var(--prim-font);
    font-weight: bolder;
    color: var(--nav-prim-color);
    background-color: white;
    font-size: 18px;

    border-radius: 15px;
    border-width: 0px;
    padding: 5px 20px;
}

#btn-login {
    margin-right: 15px;
}

.userarea button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(7, 89, 204);
}


/*--------------------------------------------------------------------------------------*/
                                                   /* NAVBAR - ends*/
/*--------------------------------------------------------------------------------------*/


#latest-banner {
    background-color: black;
    height: 500px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0px;
}

#lb-heading {
    display: block;
    color: white;
    text-align: center;
    font-family: var(--prim-font);
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

#lb-heading:hover {
    cursor: default;
}

#latest-banner img {
    margin-left: 650px;
    height: 380px;
}

#latest-banner img:hover {
    cursor: pointer;
}

#pop-anime {
    background-color: var(--prim-color);
    padding-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
}

#pop-anime span {
    display: block;
    margin-bottom: 20px;
    position: relative;
    top: 20px;

    text-align: center;
    font-family:var(--prim-font);
    color: white;
    font-size: 40px;
    font-weight: bolder;

}

.pop-anime-heading-divider {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

.card-img {
    display: inline-block;
    box-shadow: 3px 3px 10px 2px #000000;
    height: 250px;
}

.card-img:hover {
    cursor: pointer;
    box-shadow: none;
}

#pop-anime img {
    height: 250px;
    width: 400px;
}

.group1-img {
    margin-left: 40px;
    margin-right: 40px;
}

.grp1-titles {
    display: block;
}

.card-img-titles-1 {
    display: inline-block;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;

    font-family:var(--prim-font);
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

.card-img-titles-1:hover {
    cursor: pointer;
}

.group2-img {
    margin-left: 260px;
}

#naruto-card {
    margin-left: 100px;
}

.grp2-titles {
    display: block;
}

.card-img-titles-2 {
    display: inline-block;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 20px;

    font-family:var(--prim-font);
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

.card-img-titles-2:hover {
    cursor: pointer;
}

.naruto-title {
    margin-left: 30px;
}

#plans {
    display: block;
    margin-bottom: 20px;
    position: relative;
    top: 20px;

    text-align: center;
    font-family:var(--prim-font);
    color: var(--prim-color);
    font-size: 40px;
    font-weight: bolder;
}

#plans:hover {
    cursor: default;
}

#plans-heading-divider {
    border: 2px solid var(--prim-color);
    background-color: var(--prim-color);
    border-radius: 10px;
    width: 30%;
    margin: auto;
    margin-bottom: 100px;
}

.pricing li {
    list-style-type: circle;
}

.price {
    text-align: center;
    font-weight: bold;
}

.pricing {
    font-family:var(--prim-font);
    color: var(--prim-color);
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 100px;
}

.plan-box {
    display: inline-block;
    margin: 0px 65px;
    border-radius: 20px;
    padding: 30px 5px;
    box-shadow: 3px 3px 10px 1px #888888;
}

.plan-box:hover {
    cursor: pointer;
    background-color: var(--prim-color);
    color: white;
    box-shadow: none;
}

.heads {
    text-align: center;
    font-size: 45px;
}

#planbox-heading-divider {
    border: 2px solid var(--prim-color);
    background-color: var(--prim-color);
    border-radius: 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}

footer {
    background-color: var(--nav-prim-color);
    height: 60px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
}

.f-logo {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}

.f-logo div {
    display: inline-block;
    position: relative;
    bottom: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    color: white;
}

.f-logo img {
    width: 40px;
    height: 40px;
}

.f-logo :hover {
    cursor: pointer;
}

.misc-links {
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 20px;
    bottom: 2px;
}

.misc-links ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 20px;
}

.misc-links a {
    text-decoration: none;
    color: white;
}

.misc-links a:hover {
    text-decoration: underline;
}

/* <------------------------------ login.html -----------------------------------------------> */

#login-body {
    background-color: var(--prim-color);
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:var(--prim-font);
    font-weight: bolder;

    margin: auto;
    margin-top: 17vh;

    background-color: white;
    width: 250px;
    height: 450px;

    border-radius: 25px;
}

#login-heading {
    color: var(--prim-color);
    /* font-family:'Baloo Bhai 2';
    font-weight: bolder; */
    font-size: 40px;
    margin-top: 50px;

}

.box-login {
    margin-top: 30px;
    height: 25px;
}

#submit-btn {
    margin-top: 50px;
    background-color: var(--prim-color);
    color: white;
    /* font-family:'Baloo Bhai 2'; */
    border-style: none;
    width: 170px;
    height: 25px;
    margin-bottom: 20px;
}

#forgot-pass a {
    font-family:var(--prim-font);
    color: var(--prim-color);
    font-size: 15px;
    text-decoration: none;
}

@media screen and (min-width:380px) and (max-width:420px) {
    .login-box {
        height: 540px;
        width: 300px;
    }
}

@media screen and (min-width:450px) and (max-width:900px) {
    .login-box {
        height: 670px;
        width: 490px;
    }

    #login-heading {
        font-size: 80px;
    }

    .box-login {
        height: 50px;
        width: 350px;
    }

    #submit-btn {
        width: 350px;
        height: 50px;
        font-size: 20px;
    }

    #forgot-pass a {
        font-size: 20px;
    }


}